:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  button {
    color: black;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .LandingBody {
    background-image:url("https://t3.ftcdn.net/jpg/06/38/82/84/360_F_638828406_PzMZUd8vOJVt27D5rL89jC6x9oD4DCjE.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    justify-content: center;
    display:flex;
    align-items: center;
    height: 100vh;
    width: 150vh;
  }

